.u-section-1 .u-sheet-1 {
  min-height: 307px;
}

.u-section-1 .u-image-1 {
  width: 192px;
  height: 192px;
  margin: 40px auto 0 40px;
}

.u-section-1 .u-text-1 {
  margin: -135px auto 0 272px;
}

.u-section-1 .u-text-2 {
  margin: 97px auto 10px 40px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 98px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}

.u-section-2 .u-line-1 {
  margin-top: 0;
  margin-bottom: 7px;
  transform-origin: right center 0px;
}.u-section-3 .u-sheet-1 {
  min-height: 307px;
}

.u-section-3 .u-image-1 {
  width: 192px;
  height: 192px;
  margin: 40px auto 0 40px;
}

.u-section-3 .u-text-1 {
  margin: -135px auto 0 272px;
}

.u-section-3 .u-text-2 {
  margin: 97px auto 10px 40px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 98px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 10px;
}

.u-section-4 .u-line-1 {
  margin-top: 0;
  margin-bottom: 7px;
  transform-origin: right center 0px;
}.u-section-5 .u-sheet-1 {
  min-height: 307px;
}

.u-section-5 .u-image-1 {
  width: 192px;
  height: 192px;
  margin: 40px auto 0 40px;
}

.u-section-5 .u-text-1 {
  margin: -135px auto 0 272px;
}

.u-section-5 .u-text-2 {
  margin: 97px auto 10px 40px;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 98px;
  }
}